body{
    margin:0px;
    border:0px;
    padding: 0px;
    background-image: url('../img/1.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.a1{
    padding-top: 20em;
    padding-left: 2em;
    padding-right: 106em;
}
.title{
    color:rgb(49, 45, 45);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.texto{
    color:#6C7077;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.paisajes{
    padding-top: 5em;
    background-image: url('../img/paisajes.png');
    background-size: 100%;
}
.paisajes img{
    padding-left: 50em;
}
.paisajes h2{
    padding-left: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(99, 96, 96);
}
